body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 10px;
}

nav a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
    background-color: black;
    transition: background-color 0.5s;
}

main {
    margin: 100px auto;
    max-width: 960px;
}

.banner {
    background-image: url(https://cdn.hasselblad.com/hasselblad-com/c9faf04b64d2392a6863539bff47d0bea8cc7b09_marcingizycki_11.jpg?auto=format&q=97);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: white;
    font-size: 20pt;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.banner h2 {
    color: white;
    font-size: 16pt;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cta {
    display: inline-block;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    opacity: 100%;

    border: 2px solid white;
    background-color: transparent;
    font-size: 15pt;
    text-transform: uppercase;
    padding: 6px 12px;
    letter-spacing: .15em;
    transition: all .2s ease-in-out;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    white-space: nowrap;

    margin-top: 10px;
    line-height: 22px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cta:hover {
    color: black;
    background-color: white;
    border-color: white;
    text-shadow: none;
}

.about h2,
.categories h2 {
    text-align: center;
    color: black;
}

.about p,
.categories li {
    max-width: 300px;
    margin: 0 auto;
    text-align: justify;
}

.categories {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categories li {
    margin: 20px;
    text-align: center;
}

.categories img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    height: 150px;

}

.copyright {
    text-align: center;
}

